/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 16px;
    margin: 0;
}

footer p:hover {
    color: #4caf50;
}