nav{
    height: 80px;
    width: 97%;
    background-color: white;
    /* border: 1px solid rgb(209, 193, 193); */
    display: flex;
    align-items: center;
    padding: 0px 10px;
    /* position: fixed; */
    margin-right: 4px;
    margin-left: 20px;

}
.logo{
 /* background-color: aqua; */
 width: 10%;
 height: 100%;
 display: flex;
 justify-content: flex-end;
 padding: 0 10px;

}
.logo img{
    height: 100%;
    
}
.searchContainer{
    background-color:rgb(223, 220, 225);
    width: 54%;
    height: 30px;
    border: 2px solid whitesmoke;
    caret-color: black;
    align-content: center;
    border-radius:calc(5px);
    
     
}
ul{
    background-color:whitesmoke;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;

}
ul >li{
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

}
ul > li:hover:first-of-type{
    background-color: #2a55e5;
    color: white;
}