* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* 
#card {
    border: 2px solid rgb(219, 17, 17);
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    margin-right: 250px;
    background-color: rgb(13, 193, 133);
    padding-left: 100px;
    padding-right: 100px;
    

}

h1 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;

} */

#item{
    background-color: blue;
    border: 2px solid black;

}