body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #100a0a;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
nav{
    background-size: auto;
    background-color: #ff58e6;
    font-size:x-large ;
    flex-wrap: wrap-reverse;
    
}

.container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 2em;
    color: #ff58e6;
}

h2 {
    font-size: 1.5em;
    color: #fff;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}